:root{
    --white-color: white;
    --black-color: black;
    --background-color: #1c1a1a;
    --side-nav-background-color: #e9ecef;
    --text-color: #dee2e6;
    --btn-background-color: #be2c2c;
}

*::selection{
    background-color: var(--text-color);
    color: var(--background-color);
}

*{
    font-family: Cormorant Garamond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    list-style-type: none;
}

/* global */

section{
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    transition: background-Color 1s ease;
    display: flex;
    justify-content: center;
}

.section-content{
    padding-top: 290px;
    height: fit-content;
    max-width: 1600px;
    margin: 0 10vw 0;
    color: var(--text-color);
    margin-bottom: 100px;
    width: 100%;
}

.section-content .heading{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-content .heading .letters{
    display: flex;
}

.section-content .heading .line{
    width: 0;
    height: 2px;
    background-color: var(--text-color);
}

/* intro */

.intro{
    font-style: italic;
    color: black;
    font-size: 6vw;
    overflow: hidden;
}

.block{
    position: fixed;
    width: 100%;
    height: 50vh;
    z-index: 5;
    background: var(--side-nav-background-color);
}

.block-top{
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.block-top-text{
    opacity: 0;
}

.block-bottom{
    bottom: 0%;
    display: flex;
    justify-content: center;
}

.block-bottom-text{
    opacity: 0;
}

.lines{
    position: fixed;
    z-index: 6;
    border: 1px solid var(--background-color);
}

.vertical-line1{
    height: 0vh;
    top: 25%;
    left: 25%;
    display: none;
}

.vertical-line2{
    height: 0vh;
    bottom: 25%;
    right: 25%;
    display: none;
}

.horizontal-line1{
    top: 65%;
    width: 0vw;
    left: 25%;
    display: none;
}

.horizontal-line2{
    bottom: 65%;
    width: 0vw;
    right: 25%;
    display: none;
}

.center-line{
    width: 0vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.left-nav{
    background-color: var(--side-nav-background-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    left: -95%;
    transition: background-color .5s ease-in-out;
}

.left-nav a{
    color: var(--background-color);
    cursor: pointer;
    transition: color .5s ease-in-out;
}

.left-nav .booklet{
    font-style: italic;
    position: fixed;
    left: 0%;
    display: flex;
    padding: 5% 0 5%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 5%;
    transition: background-color .5s ease-in-out;
}

.left-nav .booklet .logo{
    font-size: 1.2rem;
}

.left-nav .booklet .logo h1 sup{
    padding-left: .2rem;
    font-size: 1.2rem;
}

/* 햄버거 시작 */

.hamburger{
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon{
    width: 50%;
    position: absolute;
    height: 2px;
    background-color: var(--background-color);
    transition: background-color .5s ease-in-out;
}

.icon::after, 
.icon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--background-color);
    left: 0;
}

.hamburger .icon.menusHovered,
.icon.menusHovered::after, 
.icon.menusHovered::before{
    background-color: var(--text-color);
}

.hamburger .icon::after{
    top: 7px;
    transition: transform .3s cubic-bezier(0.23,1,0.32,1), top .3s .3s cubic-bezier(0.23,1,0.32,1), background-color .5s ease-in-out;
}

.hamburger .icon::before{
    bottom: 7px;
    transition: transform .3s cubic-bezier(0.23,1,0.32,1), bottom .3s .3s cubic-bezier(0.23,1,0.32,1), background-color .5s ease-in-out ;
}

.hamburger.hamburgerClicked .icon{
    background: transparent;
}

.left-nav .booklet .hamburger.hamburgerClicked .icon::after{
    top: 0;
    transform: rotate(-45deg);
    transition: top .3s cubic-bezier(0.23,1,0.32,1), transform .3s .3s cubic-bezier(0.23,1,0.32,1), background-color .5s ease-in-out;;
}

.left-nav .booklet .hamburger.hamburgerClicked .icon::before{
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom .3s cubic-bezier(0.23,1,0.32,1), transform .3s .3s cubic-bezier(0.23,1,0.32,1), background-color .5s ease-in-out;;
}

/* 햄버거 끝 */

.left-nav .booklet .latest{
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 1000;
    transform: rotate(-90deg) translateX(30%);
}

.left-nav .booklet .border-right{
    position: absolute;
    bottom: 0;
    left: 5rem;
    height: 0vh;
    border: 1px solid var(--side-nav-background-color);
}

.left-nav .left-nav-menu{
    font-size: 7rem;
    text-align: center;
    font-weight: 900;
}

.left-nav .left-nav-menu .lnm{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    text-transform: uppercase;
    font-family: Garamond;
}

.left-nav .left-nav-menu .lnm::after{
    content: attr(data-after);
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 15rem;
    letter-spacing: 50px;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    z-index: -1;
    transition: .3s ease letter-spacing;
}

.left-nav .left-nav-menu .lnm:hover::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

.left-nav .left-nav-menu .lnm a{
    font-family: Garamond;
    visibility: hidden;
    transform: translate(0%, 100%);
    width: fit-content;
    padding: .8rem;
}

/* section1 */


#section1{
    position: relative;
    z-index: 3;
    font-size: 9.2vw;
}

#section1 .section-content{
    padding-top: 14.5vh;
}

#section1 .text-wrapper .h1-wrapper{
    position: relative;
    display: flex;
    line-height: .8;
    width: 100%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(3){
    line-height: 1.31;
}


#section1 .text-wrapper .h1-wrapper:nth-child(1){
    width: 44.5%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(2){
    width: 82.5%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(3){
    width: 84.5%;
}

#section1 .text-wrapper .h1-wrapper h1{
    opacity: 0;
    width: 100%;
    display: flex;
}

#section1 .text-wrapper .h1-wrapper span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 120%;
    background: var(--btn-background-color);
}

#section1 .text-wrapper .h1-wrapper:nth-child(1) span{
    top: -1%;
    height: 120%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(2) span{
    top: 4%;
    height: 121%;
}

#section1 .text-wrapper .h1-wrapper:nth-child(3) span{
    top: 15%;
    height: 85%;
}


#section1 .text-wrapper .h1-wrapper h1 .jumping-letters{
    text-shadow: -30px 10px 10px rgba(0,0,0,.3),0 20px 50px rgba(0,0,0,.3);
    will-change: text-shadow,transform;
}

#section1 .text-wrapper .h1-wrapper h1 .jumping-letters.jump{
    animation: jump 1.5s 1 alternate forwards cubic-bezier(.175,.885,.32,1.275)
}

/* section2 */

#section2{
    position: relative;
    z-index: 1;
    height: fit-content;
}

#section2 .section-content{
    flex-direction: column;
}

#section2 .section-content .text-wrapper{
    margin-top: 12rem;
    font-size: 2vw;
    position: relative;
    left: 31%;
    width: 65%;
    font-style: italic;
    color: var(--side-nav-background-color);
}

#section2 .section-content .text-wrapper::before{
    content: "“";
    color: #2527298a;
    z-index: -1;
    font-size: 400px;
    position: absolute;
    transform: translate(-69%, -37%);
}

/* #section2 .section-content .text-wrapper::after{
    content: "”";
    position: absolute;
    font-size: 400px;
    color: #2527298a;
    z-index: -1;
    transform: translate(366%, -28%);
} */

/* section3  */

#section3 .section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section3 .section-content .btn{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 80px 0 80px;
    padding: 24px 60px;
    background-color: var(--btn-background-color);
    color: var(--text-color);
    transition: all .5s ease;
    border: 3.5px solid var(--background-color)
}

#section3 .section-content .btn:hover{
    transform: scale(1.05);
    border-color: var(--side-nav-background-color)
}

#section3 .section-content .projects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#section3 .section-content .col{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

#section3 .section-content .projects .project-item{
    margin-top: 30rem;
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#section3 .section-content .projects .project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#section3 .section-content .col .project-item a{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#section3 .section-content .col .project-item a .project-info p{
    background: var(--side-nav-background-color);
    color: black;
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 200px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 12px 40px;
    /* width: max-content; */
    font-size: 20px;
    font-weight: 800;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    margin-bottom: 30px;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(1),
#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    opacity: 0;
    transition: .4s;
}

#section3 .section-content .col .project-item a .project-info p:nth-child(2){
    transition-delay: .1s !important;
}

#section3 .section-content .col .project-item:hover a .project-info p:nth-child(1),
#section3 .section-content .col .project-item:hover a .project-info p:nth-child(2){
    opacity: 1;
    transform: translateY(40%);
}


#section3 .section-content .right-col .project-item:nth-child(1){
    margin-top: 12rem;
}

#section3 .section-content .left-col .project-item:nth-child(1){
    margin-top: 39.5rem;
}

/* section3 cursor */

#section3 .project-cursor{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 20rem;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#section3 .project-cursor>div{
    transform: translate(-23.5px, -27px);
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) .4s;
}

#section3 .project-cursor>div.visible{
    opacity: 1;
}

#section3 .project-cursor .top{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .7vw;
}

#section3 .top .circle{
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
}

#section3 .top .capsule{
    padding: .7rem 3rem;
    border-radius: 100px;
    background-color: white;
}

#section3 .project-cursor .bottom{
    width: 100%;
    position: relative;
}

#section3 .bottom img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 10px;
}

/* keyframes */

@keyframes text_reveal{
    100%{
        opacity: 1;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes jump {
    0%,to {
        transform: matrix(1,0,0,1,0,0)
    }

    25%,75% {
        text-shadow: -5px 2px 2px rgba(0,0,0,.3),0 5px 12px rgba(0,0,0,.3);
        transform: matrix(1.1,0,0,.8,0,0)
    }

    50% {
        transform: matrix(.8,0,0,1.2,0,0) translateY(-10px);
        text-shadow: -40px 20px 20px rgba(0,0,0,.3),0 40px 100px rgba(0,0,0,.3)
    }
}

@keyframes an{
    0% {
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    21%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    41%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    61%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    81%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

/* 1600px~ */
@media screen and (min-width: 1600px){
    #section1{
        font-size: 150px;
    }
}

/* 768px~1600px */
@media screen and (min-width: 769px) and (max-width: 1599px){
    .section-content{
        padding-top: 20vw;
    }
}

/* ~768px */

@media screen and (max-width: 768px) {
    .section-content{
        padding-top: 7vw;
    }

    #section1{
        font-size: 11.5vw;
    }

    #section1 .text-wrapper .h1-wrapper:nth-child(1){
        width: 53.5%;
    }

    #section1 .text-wrapper .h1-wrapper:nth-child(2){
        width: 99.8%;
    }

    #section1 .text-wrapper .h1-wrapper:nth-child(3){
        width: 103%;
    }
}